
#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1{
    font-family: Georgia;
}
h3{
    font-family: Georgia;
}

div p{
    color: white;
    background-color: cornflowerblue;
}

div button{
    background-color: purple;
    text-decoration: azure;
}
button:hover{
    background-color: yellow;
    text-decoration: blue;
}
p:nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;
}
input[type="checkbox"]:checked +label{
    color: green;
}

