.face{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 100px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px ;
    
}
.left-eye,.right-eye{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
}
.left-eye{
    top: 100px;
    left: 50px;
}
.right-eye{
    top: 100px;
    left: 250px;
}
