
.main{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.first{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    background-color: red;
    border-radius: 50%;
}
.second{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    background-color: yellow;
    border-radius: 50%;
}
.third{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    background-color: green;
    border-radius: 50%;
}